
@{
    ViewBag.Title = "CrearNotaCredito";
}

<h2>CrearNotaCredito</h2>

@using (Html.BeginForm("obtenerDatosFormNota", "Notas"))
{
    <form>
        <div class="modal-body">
            <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Identificación:</label>
                <input type="number" class="form-control" id="id" style="max-width:100%" name="id">
            </div>
            <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Monto:</label>
                <input type="number" class="form-control" id="monto" style="max-width:100%" name="monto">
            </div>
            <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Montivo:</label>
                <input type="text" class="form-control" id="motivo" style="max-width:100%" name="motivo">
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button style="background-color:#09f238; color:white" type="submit" class="btn">Aceptar</button>
        </div>
    </form>
}