
.slide .carousel-inner .active{
 height:350px;
    
}

.slide .carousel-inner .active>img {
    height: 350px;
}
.slide{
    height:350px;
}

.elementos{
    width:100%;
    background-color:whitesmoke;
}
.datos {
    width: 80%;
    margin: auto;
    
}
.section1 {
  
}

.section1 .info1 h5 {
    font-size: 20px;
    font-weight: bold;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:18px;
   
}

    .section1 .info2 h6 {
        font-size: 19px;
        font-weight: 300;
        color:black;
        padding: 18px;
       
    }

.info1 {
    border: solid;
    border-color: red;
    width: 45%;
    border-radius:6px;
}

.info2 {
    background-color: lightblue;
    border-radius: 6px;
}



/*Seccion About*/

.about-section {
    background: url(../pic4.png) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 40px 0;
}

.inner-container {
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
    border-radius:5px;
}

    .inner-container h1 {
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: 900;
    }

.text {
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

/*Section Tarjetas------------------------------*/
.tarjetas-section {
    background-color: #fdfdfd;
}

    .tarjetas-section h1 {
        padding-top: 20px;
        font-size: 28px;
        font-weight: 900;
    }

.tarjetas{
    display:flex;
    justify-content:space-evenly;
    width:95%;
}

    .tarjetas .card {
        box-shadow: 1px 10px 10px 5px rgba(56,56,56,0.42);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    .divimagen{
        background-color:white;
    }
.divimagen img {
    max-height:250px;
    max-width:100%;
}


/*Para hacerle diseño Responsivo*/
@media screen and (max-width: 425px) {


    .slide, .slide .carousel-inner .active, .slide .carousel-inner .active > img {
        height: 170px;
    }

    .about-section {
        background: url(../pic4.png) no-repeat left;
        padding: 50px 0;
    }

    .inner-container {
        width: 80%;
        float: initial;
        padding: 20px;
        border-radius: 5px;
    }

        .inner-container h1 {
            font-size: 20px;
        }

    .text {
        font-size: 11px;
        line-height: 15px;
    }

    .carousel-caption h5 {
        font-size: 13px;
        text-shadow: 0px 2px 4px rgba(0,0,0,0.9);
    
    }

    .carousel-caption p {
        font-size: 12px;
        text-shadow: 0px 2px 10px rgba(0,0,0,0.9);
    
    }

    /*Section Tarjetas------------------------------*/

    .tarjetas-section h1 {
        padding-top: 20px;
        font-size: 16px;
        font-weight: 900;
    }

    .tarjetas {
        display: inline;       
    }

    .tarjetas .card {
        width: 60%;
    }

    .divimagen img {
        max-height: 150px;
        max-width: 100%;
    }

    .card-title{
        font-size:17px;
    }

    .card-subtitle {
        font-size: 15px;
    }
}