
.slide .carousel-inner .active{
 height:350px;
    
}

.slide .carousel-inner .active>img {
    height: 350px;
}
.slide{
    height:350px;
}

.elementos{
    width:100%;
    background-color:whitesmoke;
}
.datos {
    width: 80%;
    margin: auto;
    
}
.section1 {
  
}

.section1 .info1 h5 {
    font-size: 20px;
    font-weight: bold;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:18px;
   
}

    .section1 .info2 h6 {
        font-size: 19px;
        font-weight: 300;
        color:black;
        padding: 18px;
       
    }

.info1 {
    border: solid;
    border-color: red;
    width: 45%;
    border-radius:6px;
}

.info2 {
    background-color: lightblue;
    border-radius: 6px;
}

/*Elementos 2----------------------------------------------*/

.about-services {
    background: #ffffff;
    padding-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 80%;
    margin: auto;
}

.contenedor .servicio-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;
}

.servicio-ind {
    padding: 10px;
    border-radius: 5%;
    width: 27%;
    text-align: center;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    background: #191818;
    color: white;
}

.servicio-ind img {
    width: 90%;
    height:300px;
    border-radius: 10%;
}

.servicio-ind h3 {
    margin: 10px 0;
    font-size: 20px;
    
}

.servicio-ind:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.6);

}

.contenedor .titulo {
    background-color: #D13210;
    color: white;
    font-family: 'Agency FB';
    font-size: 40px;
    font-weight: bold;
    width: 15%;
    border-radius: 10px;
}


/*Seccion About*/

.about-section {
    background: url(../pic4.png) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container {
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
    border-radius:5px;
}

    .inner-container h1 {
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: 900;
    }

.text {
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}