main {
    background-color: white;
    margin:auto;
}

.desarrollo {
    width: 85%;
    margin: auto;
    padding-top: 3%;
    padding-bottom: 3%;
}


/*Header------------------------------------*/
.section_header {
    height: 360px;
    background-image: url(../fondo1.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contenidoHeader {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: 360px;
}

.izquieroHeader {
    width: 46%;
    text-align: justify;
}

.izquieroHeader img {
        justify-content: center;
  
}


.logo {
    width: 80%;
    display: flex;
}

.izquieroHeader > h2 {
    font-family: 'Agency FB';
    font-size: 29px;
    margin-left: 18%;
    color: white;
}

.derechoHeader {
    width: 45%;
}

    .derechoHeader img {
        margin-top: 5%;
        height: 210px;
        width: 100%;
        transition: .3s ease-in-out;
    }

        .derechoHeader img:hover {
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }

/*Formulario-----------------------------------------------------------*/
.formulario {
    width: 80%;
    margin: auto;
    background-color: whitesmoke;
    box-shadow: 0px 15px 18px 2px rgba(120,112,120,1);
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 1%;
    padding-left: 4%;
    padding-right: 4%;
}

#titulo {
    background-color: #161616;
    color: white;
    font-family: 'Agency FB';
    font-size: 34px;
    font-weight: bold;
    width: 30%;
    border-radius: 10px;
}



.formulario h4 {
    font-family: 'Agency FB';
    font-size: 29px;
}

.formulario .form-group {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    text-align: justify;
    width: 95%;
}

.form-group .col-md-10 {
    width: 50%;
}

.form-group .col-md-11 {
    width: 30%;
}

.form-group .col-md-12 {
    width: 50%;
}

.form-group .col-md-2 {
    font-family: 'Agency FB';
    font-size: 29px;
    width: 45%;
}


/*Para Fecha y Sucursal*/

.formulario .form-group3 {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    text-align: justify;
    width: 79%;
    padding-left: 2%;
}

.form-group3 .col-md-10 {
    width: 50%;
}

.form-group3 .col-md-11 {
    width: 30%;
}

.form-group3 .col-md-12 {
    width: 50%;
}

.form-group3 .col-md-2 {
    font-family: 'Agency FB';
    font-size: 28px;
    width: 45%;
}

.form-group3 h5 {
    font-family: 'Agency FB';
    font-size: 25px;
    width: 45%;
}


/*Desarrollo---------------------------------------*/

main {
    background-color: white;
    width: 100%;
}


.formulario {
    width: 80%;
    margin: auto;
    background-color: whitesmoke;
    box-shadow: 0px 15px 18px 2px rgba(120,112,120,1);
    border-radius: 10px 10px 10px 10px;
    padding-left: 4%;
    padding-right: 4%;
}

.enviar {
    max-width: 60%;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    font-family: 'Agency FB';
    border-radius: 5px;
}

.enviar h5{
    font-size:25px;
    color:green;
    font-weight:bold;
}

#titulo {
    background-color: #161616;
    color: white;
    font-family: 'Agency FB';
    font-size: 34px;
    font-weight: bold;
    width: 30%;
    border-radius: 10px;
}



.formulario h4 {
    font-family: 'Agency FB';
    font-size: 29px;
}

.formulario .form-group {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    text-align: justify;
    width: 95%;
}

.form-group .col-md-10 {
    width: 50%;
}

.form-group .col-md-11 {
    width: 30%;
}

.form-group .col-md-12 {
    width: 50%;
}

.form-group .col-md-2 {
    font-family: 'Agency FB';
    font-size: 29px;
    width: 45%;
}

.formulario .abajo{
    display:flex;
    justify-content:space-evenly;
}

    .formulario .abajo h5 {
        font-family: 'Agency FB';
        font-size: 29px;
        color:green;
        padding-top:5px;
    }
/*Desarrollo-----------------------------------------------------------*/

.elementos1{
    display:flex;
    justify-content:space-evenly;
    width:95%;
}

.elementos1 .elementoizquierdo{
    width:50%;  
}

.titulo {
    background-color: #1a8623;
    color: white;
    font-family: 'Agency FB';
    font-size: 36px;
    font-weight: bold;
    border-radius: 10px;
    margin-top:3%;  
    text-align:center;
}
.boton1 {
    padding: 10px;
    background-color: #272626;
    border-radius: 6px;
    border: 2px solid #000000;
    height: 50px;
    box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.75);
    margin-top: 6%;
}

.boton1 a {
    text-decoration: none;
    font-weight: 1000;
    font-size: 21px;
    color: #ffffff;
}

.boton1:hover {
    background-color: #1a8623;
}

/*TABLA---------------------------------------------------------------------*/

.desarrollo .container {
    height: 400px;
    overflow-y: scroll;
    width:95%;
}
.desarrollo  .table {
    box-shadow: 0px 10px 17px -2px rgba(128,119,128,1);
    text-align: left;
    border-radius: 8px;
}

    .desarrollo  .table td {
        font-weight: 500;
    }



.boton2 {
    padding-left:7px;
    padding-top:7px;
    padding-right:7px;
    padding-bottom:7px;
    background-color: #1a8623;
    border-radius: 6px;
    border: unset;
    height: 45px;
    box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.75);
    border: unset;
    z-index: 1;
    position: relative;
    font-weight: 1000;
    font-size: 20px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    color: #ffffff;
}

    .boton2 a {
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        color: #ffffff;
    }

    .boton2::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        border-radius: 6px;
        background-color: #111111;
        z-index: -1;
        -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
        box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
        transition: all 250ms
    }

.boton2:hover {
    color: whitesmoke;
}

    .boton2:hover::before {
        width: 100%;
    }

/*-----------Loader-------------*/

/* From uiverse.io by @mobinkakei */
.loader {
    --path: #2f3545;
    --dot: #05e217;
    --duration: 3s;
    width: 44px;
    height: 44px;
    position: relative;
}

    .loader:before {
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 50%;
        position: absolute;
        display: block;
        background: var(--dot);
        top: 37px;
        left: 19px;
        transform: translate(-18px, -18px);
        animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
    }

    .loader svg {
        display: block;
        width: 100%;
        height: 100%;
    }

        .loader svg rect, .loader svg polygon, .loader svg circle {
            fill: none;
            stroke: var(--path);
            stroke-width: 10px;
            stroke-linejoin: round;
            stroke-linecap: round;
        }

        .loader svg polygon {
            stroke-dasharray: 145 76 145 76;
            stroke-dashoffset: 0;
            animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
        }

        .loader svg rect {
            stroke-dasharray: 192 64 192 64;
            stroke-dashoffset: 0;
            animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
        }

        .loader svg circle {
            stroke-dasharray: 150 50 150 50;
            stroke-dashoffset: 75;
            animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
        }

    .loader.triangle {
        width: 48px;
    }

        .loader.triangle:before {
            left: 21px;
            transform: translate(-10px, -18px);
            animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
        }

@keyframes pathTriangle {
    33% {
        stroke-dashoffset: 74;
    }

    66% {
        stroke-dashoffset: 147;
    }

    100% {
        stroke-dashoffset: 221;
    }
}

@keyframes dotTriangle {
    33% {
        transform: translate(0, 0);
    }

    66% {
        transform: translate(10px, -18px);
    }

    100% {
        transform: translate(-10px, -18px);
    }
}

@keyframes pathRect {
    25% {
        stroke-dashoffset: 64;
    }

    50% {
        stroke-dashoffset: 128;
    }

    75% {
        stroke-dashoffset: 192;
    }

    100% {
        stroke-dashoffset: 256;
    }
}

@keyframes dotRect {
    25% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(18px, -18px);
    }

    75% {
        transform: translate(0, -36px);
    }

    100% {
        transform: translate(-18px, -18px);
    }
}

@keyframes pathCircle {
    25% {
        stroke-dashoffset: 125;
    }

    50% {
        stroke-dashoffset: 175;
    }

    75% {
        stroke-dashoffset: 225;
    }

    100% {
        stroke-dashoffset: 275;
    }
}

.loader {
    display: inline-block;
    margin: 0 16px;
}

 

/*Tarjeta de buscar*/
.card-header {
    font-family: 'Agency FB';
    font-size: 30px;
    font-weight: bold;
}

.my-4 {
    box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.75);
}

.boton3 {
    font-family: 'Agency FB';
   
    background-color: #1a8623;
    border-radius: 0px;
    border: 2px solid #000000;
    box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.75);
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    width: 30%;
}

    .boton3:hover {
        background-color: white;
        color: black
    }

/*Para hacerle diseño Responsivo*/
@media screen and (max-width: 425px) {
    .section_header {
        height: 190px;
        background-color: white;
    }

    .contenidoHeader {
        width: 80%;
        height: 180px;
    }

    .izquieroHeader img {
        max-width: 100px;
    }

    .izquieroHeader > h2 {
        font-size: 15px;
        margin-left: 15%;
    }

    .derechoHeader img {
        margin-top: 20px;
        max-height: 50%;
        max-width: 100%;
    }

    /*Formulario-----------------------------------------------------------*/
    .formulario {
        width: 90%;
    }
    
    #titulo {
        font-size: 24px;
        width: 40%;

    }
    .form-group3 .col-md-2 {
        font-size: 22px;
        width: 45%;
    }
    .form-group3 h5 {
        margin-top:14px;
    }
    .formulario strong{
        font-size:13px;
    }

    .formulario .alert{
        font-size:13px;
    }

    .formulario h4 {
        font-family: 'Agency FB';
        font-size: 29px;
    }

    .formulario .abajo h5{
        font-size:15px;
    }

    .formulario .form-group3 {
        margin-top: 5%;
        display: flex;
        justify-content: space-around;
        text-align: justify;
        width: 79%;
        padding-left: 2%;
    }

    /*Tabla de Articulos agregados------------------------------------*/
    .table-responsive-sm tr th{
        font-size:10px;
        text-align:center;

    }

    .table-responsive-sm tr td {
        font-size: 10.5px;
        text-align: center;
    }

    .table-responsive-sm .form-control {
        font-size: 12px;
        text-align:center;
    }

    /*Tabla de Totales------------------------------------------------*/
    .col-lg-7{
       width:80%;
       margin:auto;
    }
    .col-lg-7 tr{
        text-align:center;
    }
    .col-lg-7 table .left{
        text-align: right;
    }
    .col-lg-7 table .left strong, .right strong {
        font-size: 11px;
    }
    /*Tabla de Articulos----------------------------------------------*/
    .elementos1 .elementoizquierdo {
        width: 60%;
    }
    .titulo {
       font-size: 23px;   
    }
    /*TABLA---------------------------------------------------------------------*/
    .desarrollo {
        width: 95%;
        margin:auto;
    }

    .desarrollo .container {
         width: 100%;
       
    }

    .desarrollo .table th {
       font-size: 8px;

     
    }
    .desarrollo .table td {
        font-weight: 500;
        font-size: 8px;
        text-align:center;

    }

    .boton2 {
        padding:3px;
        height: 20px;
        font-size: 13px;   
    }

    .boton2 a {
        font-size: 12px;    
    }

    .abajo .boton2 {
        padding: 5px;
        height:auto;
        font-size: 15px;
    }

    .abajo .boton2 a{
        font-size: 15px;
    }

      
}
