
/*Header--------------------------------------------------*/

/*header {
    width: 100%;
    height: 350px;
    background-image: url(fondo1.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: left;
    flex-direction: column;
    padding-left: 20px;
}

.textos-header h1 {
    font-size: 36px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.textos-header h2 {
    font-size: 22px;
    font-weight: 300px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*/

/*Footer--------------------------------------------------*/

.numero {
    color: white;
    font-weight: bold;
    background-color: #207464;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 2px;
}

.sec-footer {
    background: #191818;
    direction: rtl;
    text-align: right;
    color: #fff;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

    .sec-footer .desc-box {
        background: transparent;
        border: 0;
    }

        .sec-footer .desc-box .card-title::after {
            content: ' ';
            background: #ffffff;
            display: block;
            width: 95%;
            height: 0.2rem;
            margin-top: 0.3rem;
        }

        .sec-footer .desc-box .card-text {
            font-family: 'Times New Roman', Times, serif;
            text-align: justify;
        }



/*------------------*/
.snip1472 {
    position: relative;
    font-size: 20px;
    color: #fff;
    width: 45px;
    margin: 4px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    text-align: center;
    -webkit-perspective: 50em;
    perspective: 50em;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    .snip1472:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border: 2px solid #e6e6e6;
        content: '';
        z-index: -1;
        border-radius: 50%;
    }

    .snip1472:before {
        color: #fff;
    }

    .snip1472:before,
    .snip1472:after {
        -webkit-transition: all 0.45s ease-in-out;
        transition: all 0.45s ease-in-out;
    }

    .snip1472:hover,
    .snip1472:active,
    .snip1472.hover {
        color: #c0392b;
    }

        .snip1472:hover:after,
        .snip1472:active:after,
        .snip1472.hover:after {
            border-color: #c0392b transparent #c0392b transparent;
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
