main {
    background-color: white;
    margin: auto;
}


/*Header------------------------------------*/
.section_header {
    height: 380px;
    background-image: url(../fondo1.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contenidoHeader {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: 380px;
}

.izquieroHeader {
    width: 46%;
    text-align: justify;
}

    .izquieroHeader img {
        justify-content: center;
    }


.logo {
    width: 80%;
    display: flex;
}

.izquieroHeader > h2 {
    font-family: 'Agency FB';
    font-size: 29px;
    margin-left: 18%;
    color: white;
}

.derechoHeader {
    width: 45%;
}

    .derechoHeader img {
        margin-top: 10%;
        height: 210px;
        width: 90%;
        transition: .3s ease-in-out;
    }

        .derechoHeader img:hover {
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }
/*Contenido*/
main {
    background-color: white;
}

.desarrollo {
    width: 99%;
    margin: auto;
    padding-bottom: 3%;
}

/* From uiverse.io by @barisdogansutcu */
.pdf {
    padding: 17px 40px;
    border-radius: 10px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 5px 10px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 20px;
    transition: all .5s ease;
}

    .pdf:hover {
        letter-spacing: 3px;
        background-color: hsl(123 65% 50%);
        color: hsl(0, 0%, 100%);
        -webkit-box-shadow: 0px 3px 18px 5px rgba(106,176,83,1);
        -moz-box-shadow: 0px 3px 18px 5px rgba(106,176,83,1);
        box-shadow: 0px 3px 18px 5px rgba(106,176,83,1);
    }

    .pdf:active {
        letter-spacing: 3px;
        background-color: hsl(261deg 80% 48%);
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
        transform: translateY(10px);
        transition: 100ms;
    }

.pdf img{
   height:30px;
   margin-left:5px;
}

    .pdf a {
        text-decoration: none;
        font-family: 'Agency FB';
        font-weight: 600;
        color: black;
    }

    .pdf a {
        text-decoration: none;
        font-family: 'Agency FB';
        font-weight: 600;
        color: black;
    }

    .pdf a:hover{
        color: white;
    }

/*Tabla*/

.desarrollo .container{
    height:400px;
    overflow-y: scroll;
    width:70%;
}

.table
{
    
    box-shadow: 0px 10px 17px -2px rgba(128,119,128,1);
    text-align: center;
    border-radius: 8px;
}

.table td {
    font-weight: 400;
    font-size:14px;
    width:12.5%;
}

.foto img {
    object-fit: contain;
}
