@model IEnumerable<Infraestructure.Models.Caja_Chica>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            &cent;@Html.DisplayFor(modelItem => item.saldo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.entrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salida)
        </td>
        <td class="columnabotones">
            <button class="boton2">@Html.ActionLink("Eliminar", "Delete", new { id = item.id }, new { title = "Eliminar registro de caja" })</button>
        </td>
    </tr>
}
