main {
    background-color: white;
}


/*Header------------------------------------*/
.section_header {
    height: 380px;
    background-image: url(fondo1.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contenidoHeader {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: 300px;
}

.izquieroHeader {
    width: 46%;
    text-align: justify;
}

    .izquieroHeader img {
        justify-content: center;
    }


.logo {
    width: 80%;
    display: flex;
}

.izquieroHeader > h3 {
    font-family: fantasy;
    font-size: 27px;
    color: white;
    margin-left: 14%;
}

.izquieroHeader > h2 {
    font-family: 'Agency FB';
    font-size: 29px;
    color: white;
}

.derechoHeader {
    width: 45%;
}

    .derechoHeader img {
        height: 240px;
        width: 480px;
        transition: .3s ease-in-out;
    }

        .derechoHeader img:hover {
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }

/*Cuerpo---------------------------------------------*/
.cuerpo {
    background-color: white;
    margin: auto;
}

.elementos {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

.cuerpoizquierdo {
    padding-top: 0%;
    width: 25%;
}

    .cuerpoizquierdo h2 {
        font-family: 'Agency FB';
        font-size: 28px;
        font-weight: bold;
        background-color: #D13210;
        color: white;
        width: 85%;
        border-radius: 5px;
        padding: 5px;
    }



    .cuerpoizquierdo .list-group {
        width: 85%;
        font-size: 26px;
        font-family: 'Agency FB';
        border-radius: 10px;
        box-shadow: 1px 10px 10px 1px rgba(56,56,56,0.42);
    }

.cuerpoderecho {
    width: 75%;
    border-left: solid;
    border-color: #808080;
}

    .cuerpoderecho #resultado {
        width: 95%;
        margin-top: 2%;
    }

.card {
    box-shadow: 1px 10px 10px 1px rgba(56,56,56,0.42);
    margin-bottom: 10%;
}
