main {
    background-color: white;
}


/*Header------------------------------------*/
.section_header {
    height: 380px;
    background-image: url(../fondo1.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contenidoHeader {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: 380px;
}

.izquieroHeader {
    width: 46%;
    text-align: justify;
}

    .izquieroHeader img {
        justify-content: center;
    }


.logo {
    width: 80%;
    display: flex;
}

.izquieroHeader > h2 {
    font-family: 'Agency FB';
    font-size: 29px;
    margin-left: 18%;
    color: white;
}

.derechoHeader {
    width: 45%;
}

    .derechoHeader img {
        margin-top: 10%;
        height: 210px;
        width: 90%;
        transition: .3s ease-in-out;
    }

        .derechoHeader img:hover {
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }
/*Cuerpo---------------------------------------------*/
.cuerpo {
    background-color: white;
    margin: auto;
}

.elementos {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

.cuerpoizquierdo {
    padding-top: 0%;
    width: 25%;
}

    .cuerpoizquierdo h2 {
        font-family: 'Agency FB';
        font-size: 28px;
        font-weight: bold;
        background-color: #191919;
        color: white;
        width: 85%;
        border-radius: 5px;
        padding: 5px;
    }



    .cuerpoizquierdo .list-group {
        width: 85%;
        font-size: 26px;
        font-family: 'Agency FB';
        border-radius: 10px;
        box-shadow: 1px 10px 10px 1px rgba(56,56,56,0.42);
    }

/*Estilo para la lista de categorias--------------------------------*/

.list-group-item {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    position: relative;
    overflow: hidden;
    transition: color .5s;
    z-index: 1;
    font-size: 24px;
    font-weight: 500;
    color: black;
}

    .list-group-item:before {
        content: "";
        position: absolute;
        z-index: -1;
        background-color: #1a8623;
        height: 150px;
        width: 100%;
        border-radius: 50%;
    }

.list-group-item:hover {
    color: #fff;
}

    .list-group-item:before {
        top: 100%;
        left: 100%;
        transition: all .7s;
    }

    .list-group-item:hover:before {
        top: -30px;
        left: -30px;
    }

    .list-group-item:active:before {
        background: #3a0ca3;
        transition: background 0s;
    }

    /*Cuerpo derecho---------------------------------------------*/
.cuerpoderecho {
    width: 75%;
    border-left: solid;
    border-color: #b7b7b7;
}

    .cuerpoderecho #resultado {
        width: 95%;
        margin-top: 2%;
    }

.card {
    box-shadow: 1px 10px 10px 1px rgba(56,56,56,0.42);
    margin-bottom: 10%;
}


/*Boton ver detalles*/

.boton2 a {
    text-decoration: none;
    color: white;
}

.boton2 {
    text-decoration: none;
    padding: 5px 15px;
    border: unset;
    border-radius: 15px;
    color: white;
    z-index: 1;
    background: #1a8623;
    position: relative;
    font-weight: 900;
    font-size: 16px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
}

    .boton2::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        border-radius: 15px;
        background-color: #212121;
        z-index: -1;
        -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
        box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
        transition: all 250ms
    }

    .boton2:hover {
        background-color: #1a8623;
        color: white;
    }

    .boton2 a:hover {
        color: white;
    }

    .boton2:hover::before {
        width: 100%;
    }



/*Para hacerle diseño Responsivo*/
@media screen and (max-width: 425px) {

    .section_header {
        height: 190px;
        background-color: white;
    }

    .contenidoHeader {
        width: 80%;
        height: 180px;
    }

    .izquieroHeader img {
        max-width: 100px;
    }

    .izquieroHeader > h2 {
        font-size: 15px;
        margin-left: 15%;
    }

    .derechoHeader img {
        margin-top: 2px;
        max-height: 50%;
        max-width: 100%;
    }

    .wave {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    
    /*Categorias y Tarjeta de Articulo-----------------------------------*/
    .elementos {
        width: 95%;
     
    }
    .cuerpoizquierdo {
        width: 28%;
    }

    .cuerpoizquierdo h2{
        font-size: 16px;
        width: 90%;    
    }

    /*Estilo para la lista de categorias--------------------------------*/
    .cuerpoizquierdo .list-group {
        width: 90%;
    }
    .list-group-item {     
        font-size: 15px;
    }

    /*Cuerpo derecho---------------------------------------------*/
    .cuerpoderecho {
        width: 80%;
    }

    .cuerpoderecho #resultado {
        width: 95%;
        margin-top: 8%;
        height: 570px;
        overflow-y: scroll;
    }
    .col-sm-3 {

        width:50%;
    }
    .card-body h5 {
        font-size: 14px;
        font-weight:900;
    }
    .card-body p {
        font-size: 12px;
    }
    .card-body h6 {
        font-size: 11px;
    }
    /*Boton ver detalles--------------------*/
    .card-body .card-body {
        display: flex;
        justify-content: center;
        height: 50px;
    }

    .boton2 {      
        padding: 2px 17px;
        border-radius: 10px;      
        position: center;
        font-weight: 900;
        font-size: 13px;
    }
}