
@{
    ViewBag.Title = "Notificación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <div class="form-horizontal" style="margin-top:8%; margin-bottom: 8%" align="center">
        <h2 style=" padding-top: 2%;">¡Correo enviado con éxito!</h2>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10" ali>
                <img class="img img-responsive" src="@Url.Content("~/Img/check-green.gif")" width="200" height="200" />
                <br />
                <p>
                    <b>
                        El enlace para la recuperación de su contraseña ha sido enviado a la bandeja de entrada de su correo electrónico.
                        <br />
                    </b>
                    <i style="color: dimgrey">
                        Ya puede cerrar esta pestaña del navegador.
                    </i>
                </p>
            </div>
        </div>

    </div>
</center>

