@{
    ViewBag.Title = "Administración";
}

<head>
    <link rel="stylesheet" href="~/Content/CSSEstiloHome/EstiloAdmin.css">
</head>


<div class="tarjetas">
    <div class="container center">
        <div class="card">
            <h2>Respaldos</h2>
            <hr />
            <p>
                Acá podrá crear el respaldo de la base de datos VYCUZ hoy  @DateTime.Now.ToShortDateString() en caso de necesitarlo :), recuerde que este archivo lo podrá encontrar en su carpeta local como vycuzBackup.sql
            </p>
            <br />
            <button class="pdf">
                @Html.ActionLink("Crear Respaldo", "respaldoBD", "Admin")<img src="~/Imagenes/Iconos/respaldo.png" />
            </button>
        </div>
    </div>
</div>



@if (ViewBag.NotificationMessage != null)
{
    <script>
            @Html.Raw(@ViewBag.NotificationMessage);
    </script>
}
