@{
    ViewBag.Title = "Inicio";
}

<head>
    <link rel="stylesheet" href="~/Content/CSSEstiloHome/EstiloHome.css">
</head>

<div style="background-color:black;" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/Imagenes/Visuals/carrusel2.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Reparación de dispositivos</h5>
                <p>Ofrecemos reparaciones para cualquier dispositivo móvil</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Imagenes/Visuals/carrusel1.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Estuches Iphone</h5>
                <p>Estuches para cualquier modelo de iphone</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Imagenes/Visuals/carrusel3.jpg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Estuches en stock</h5>
                <p>Estuches para android actuales</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>

    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>

    </a>
</div>
<br />
<br />

<div class="about-section">
    <div class="inner-container">
        <h1>Acerca de nosotros</h1>
        <p class="text">
            La empresa se localiza en el segundo piso del centro comercial City Mall en la provincia de Alajuela 
            y se dedica a la reparación y venta de dispositivos electrónicos acoplable a mas mercaderia continua como temperados, 
            estuches y tecnología de entretenimiento, la población a la que se atiende es mayormente adultos 
            jóvenes con un 70% los cuales están interesados en tener un teléfono moderno y unificado con el fin de mantener
            estéticamente bien su dispositivo.
        </p>
        <div class="skills">
            <span>Estuches</span>
            <span>Entretenimiento</span>
            <span>Celulares</span>
        </div>
    </div>
</div>





@if (ViewBag.NotificationMessage != null)
{
    <script>
            @Html.Raw(@ViewBag.NotificationMessage);
    </script>
}