@{
    ViewBag.Title = "Inicio";
}

<head>
    <link rel="stylesheet" href="~/Content/CSSEstiloHome/EstiloHome.css">
</head>

<div style="background-color:black;" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/Imagenes/Visuals/carrusel1.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Estcuhes Iphone</h5>
                <p>Estuches para cualquier modelo de iphone</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Imagenes/Visuals/carrusel2.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Reparación de dispositivos</h5>
                <p>Ofrecemos reparaciones para cualquier dispositivo móvil</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Imagenes/Visuals/carrusel3.jpg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>IDK</h5>
                <p>Nigger</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        
    </a>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>