
@{
    ViewBag.Title = "Acceso Denegado";
}

<link rel="stylesheet" href="~/Content/EstiloNoAutorizado.css">
<center>
    <section class="cuerpo">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2>Ups! Inicie su sesión para poder realizar esta acción!</h2>
        <br>
        <br>
        <input type="button" value="Regresar" class="btn btn-warning" onclick="goBack()" />
        <br>
        <br>

    </section>
</center>


<script>
    function goBack() {
        window.history.back();
    }
</script>


