<div class="row">
    <div class="col-md-12">

        <h3>ID Token for the User</h3>
        <p>The ID Token can be extracted from the user's claims.</p>

        <p><strong>ID Token:</strong> @ViewBag.IdToken</p>

        <p><strong>Nombre:</strong> @ViewBag.email</p>
        <p><strong>Email:</strong> @ViewBag.EmailAddress</p>
        <p><strong>Email:</strong> @ViewBag.ProfileImage</p>

    </div>
</div>