/*Header----------------------------------------------------------------*/

.section_header {
    height: 350px;
    background-image: url(../fondo1.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
   
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contenidoHeader {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: 390px;
}

.izquieroHeader {
    width: 46%;
    text-align: justify;
}

    .izquieroHeader img {
        justify-content: center;
    }


.logo {
    width: 80%;
    display: flex;
}

.izquieroHeader > h2 {
    font-family: 'Agency FB';
    font-size: 29px;
    color: white;
    margin-left: 14%;
}

.derechoHeader {
    width: 45%;
}

    .derechoHeader img {
        height: 250px;
        width: 90%;
        transition: .3s ease-in-out;
    }

        .derechoHeader img:hover {
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }

/*Login---------------------------------------*/

main{
    background-color:white;
    width:100%;

}

.formulario {
    width: 30%;
    margin: auto;
    background-color: whitesmoke;
    box-shadow: 0px 15px 18px 2px rgba(120,112,120,1);
    border-radius: 10px 10px 10px 10px;

}

.formulario h2{
     font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

    .formulario h4 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
    }

.form-group .col-md-2 {
    width: 55%;
    font-family: 'Agency FB';
    font-size: 32px;
}

.form-group .col-md-10 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.form-group2 .col-md-2 {
    width: 45%;
    font-family: 'Agency FB';
    font-size: 32px;
}

.form-group2 .col-md-10 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    display:flex;
    justify-content:space-evenly;
    width: 65%;
}


.btn-default {
    padding: 10px;
    background-color: #1a1a1a;
    border-radius: 6px;
    height: 50px;
    box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.75);
    font-size: 18px;
    color: white;
    width: 100%;
}

.btn-default2 {
    padding: 10px;
    border-radius: 6px;
    height: 50px;
    box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.75);
    font-size: 18px;
    width: 100%;
    background-color:white
}
.btn-default:hover {
    background-color: #2acf5b;
    color: white;
}

.eye-btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

    .eye-btn i {
        font-size: 18px;
        color:white;
    }
/*Para hacerle diseño Responsivo*/
@media screen and (max-width: 425px) {

    .section_header {
        height: 190px;
        background-color: white;
     
    }

    .contenidoHeader {
        width: 80%;
        height: 180px;
    }
    .izquieroHeader img {
        max-width: 100px;
    }

    .izquieroHeader > h2 {
        font-size: 15px;
        margin-left: 15%;
    }

    .derechoHeader img {
        margin-top:20px;
        max-height: 50%;
        max-width: 100%;
    }

    /*Login---------------------------------------*/


    .formulario {
        width: 70%;
    }

    .formulario h2 {
        font-size: 24px;
    }

    .formulario h4 {
        font-size: 14px;
    }

    .form-group .col-md-10 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
    }

    .form-control {
        width: 80%;
        font-size: 14px;
    }
    .btn-default {
        padding: 8px;
        height: 40px;
        font-size: 16px;
        width: 50%;
    }

    .formulario h4{
        font-size:13px;
    }

    .wave {
        position: absolute;
        bottom: 0;
        width: 100%;
        
    }


    
}

