/*Header----------------------------------------------------------------*/

.section_header {
    height: 330px;
    background-image: url(../fondo1.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
   
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contenidoHeader {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: 390px;
}

.izquieroHeader {
    width: 46%;
    text-align: justify;
}

    .izquieroHeader img {
        justify-content: center;
    }


.logo {
    width: 60%;
    display: flex;
}

.izquieroHeader > h2 {
    font-family: 'Agency FB';
    font-size: 29px;
    color: white;
    margin-left: 14%;
}

.derechoHeader {
    width: 45%;
}

    .derechoHeader img {
        height: 220px;
        width: 75%;
        transition: .3s ease-in-out;
    }

        .derechoHeader img:hover {
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }

/*Pedir correo al usuario*/
/* 
=========================
Fonts
=========================

font-family: 'Outfit', sans-serif;

*/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* 
========================
Variables
========================
*/


:root {
    font-size: 15px;
    /* Primary */
    --var-soft-blue: hsl(214 7% 86%);
    --var-cyan: hsl(178, 100%, 50%);
    /* Neutral */
    --var-main-darkest: hsl(217 0% 100%);
    --var-card-dark: hsl(216 0% 11%);
    --var-line-dark: hsl(215, 32%, 27%);
    --var-lightest: white;
    /* Fonts */

    --var-heading: normal normal 600 1.5em/1.6em 'Outfit', sans-serif;
    --var-small-heading: normal normal 400 1em/1em 'Outfit', sans-serif;
    --var-para: normal normal 300 1em/1.55em 'Outfit', sans-serif;
}

/* 
=======================
Setup
=======================
*/

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
}

body {
    background-color: var(--var-main-darkest );
}

.hero-image {
    width: 40%;
    height: 50%;
    border-radius: 15px;
    display: block;
}

a {
    color: inherit;
}

h1 {
    font: var(--var-heading);
    color: var(--var-lightest);
    font-size:28px;
    text-align:center;
}

p {
    font: var(--var-para);
    color: var(--var-soft-blue);
}

span {
    color: white;
}
/* 
=====================
Classes
=====================
*/

/* LAYOUT */

.card-container {
    width: 100%;
    max-width: 400px;
    margin: 2em auto;
    background-color: var(--var-card-dark);
    border-radius: 15px;
    margin-bottom: 1rem;
    padding: 2rem;
    background-image: url(../fondoverde.jpg);
   
  

}

div.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a.hero-image-container {
    position: relative;
    display: block;
}


/*Estilo para el formulario de digitar la clave*/
.containerclave {
    margin: auto;
    margin-bottom: 5%;
    width: 20%;
    border-radius: 8px;
    -webkit-box-shadow: 0px 10px 19px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 19px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 19px 0px rgba(0,0,0,0.75);
    background-color: #1d1d1d;
    color: white;
    font-family: 'Agency FB';
}

.containerclave h2{
    font-size:30px;
}

.containerclave .col-md-2{
    font-size:25px;
}

    .containerclave .btn-success {
        font-size: 25px;
    }

    .containerclave .col{
        display:flex;
        justify-content:space-evenly;
    }

    .containerclave .form-control {
        width: 60%;
        font-size: 16px;
        font-family:Arial;
    }


/*Para hacerle diseño Responsivo*/
@media screen and (max-width: 425px) {

    .section_header {
        height: 190px;
        background-color: white;
     
    }

    .contenidoHeader {
        width: 80%;
        height: 180px;
    }
    .izquieroHeader img {
        max-width: 100px;
    }

    .izquieroHeader > h2 {
        font-size: 15px;
        margin-left: 15%;
    }

    .derechoHeader img {
        margin-top:20px;
        max-height: 50%;
        max-width: 100%;
    }

    /*Login---------------------------------------*/


    .formulario {
        width: 70%;
    }

    .formulario h2 {
        font-size: 24px;
    }

    .formulario h4 {
        font-size: 14px;
    }

    .form-group .col-md-10 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
    }

    .form-control {
        width: 80%;
        font-size: 14px;
    }
    .btn-default {
        padding: 8px;
        height: 40px;
        font-size: 16px;
        width: 50%;
    }

    .formulario h4{
        font-size:13px;
    }

    .wave {
        position: absolute;
        bottom: 0;
        width: 100%;
        
    }


    
}

