<a href="@Url.Action("Create", "Resena")" class="">
    Agregar una resena <span class=""></span>
</a>
<br />
<a href="@Url.Action("Index", "Resena")" class="">
    Ver resenas del producto <span class=""></span>
</a>

