
main {
    background-color: white;
}


/*Header------------------------------------*/
.section_header {
    height: 380px;
    background-image: url(../fondo1.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contenidoHeader {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: 380px;
}

.izquieroHeader {
    width: 46%;
    text-align: justify;
}

    .izquieroHeader img {
        justify-content: center;
    }


.logo {
    width: 80%;
    display: flex;
}

.izquieroHeader > h2 {
    font-family: 'Agency FB';
    font-size: 29px;
    margin-left: 18%;
    color: white;
}

.derechoHeader {
    width: 45%;
}

    .derechoHeader img {
        margin-top: 10%;
        height: 210px;
        width: 90%;
        transition: .3s ease-in-out;
    }

        .derechoHeader img:hover {
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }
/*Cuerpo---------------------------------------------*/
.cuerpo {
    background-color: white;
    margin: auto;
    padding-top:15px;
}

/*Contact*/
#name,
#email,
#subject,
#message
{
    color: black;

}

.contact .container-fluid {
    display:flex;
    justify-content:space-around;
    padding:0%;
}

.formulario .container-fluid .container1 {
    height: 400px;
    width:45%;
    background: url(../contacto2.jpeg) left center no-repeat;
    background-size: contain;

}


.formulario .container-fluid .container {
    width: 55%;
  
}

.formulario {
    max-width: 70%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 15px 18px 2px rgba(120,112,120,1);
}

input{
    width:90%;
}




/*Boton ver detalles*/

.formulario .btn a {
    text-decoration: none;
    color: white;
}

.formulario .btn {
    text-decoration: none;
    padding: 5px 15px;
    border: unset;
    border-radius: 15px;
    color: white;
    z-index: 1;
    background: #1a8623;
    position: relative;
    font-weight: 1000;
    font-size: 19px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    margin: 0%;
}

    .formulario .btn::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        border-radius: 15px;
        background-color: #212121;
        z-index: -1;
        -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
        box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
        transition: all 250ms
    }

    .formulario  .btn:hover {
        background-color: #1a8623;
        color: white;
    }

    .formulario .btn a:hover {
        color: white;
    }

    .formulario .btn:hover::before {
        width: 100%;
    }